.content {
    font-size: 18px;
}

.content h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}


.content p {
    margin-bottom: 8px;
}

.content ul {
    margin: 0;
    padding-left: 20px;
}

.solver textarea {
    font-family: Consolas;
    font-size: 18px;
    resize: vertical;
    min-height: 100px;
    vertical-align: top;
}

.solver input[type="number"] {
    width: 45px;
}

.solver h2 {
    margin-top: 8px;
    margin-bottom: 0px;
}

.button {
    display: inline-block;
    padding: 6px 16px;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
}

.button:hover {
    color: #03a9f4;
    border: 1px solid #03a9f4;
}

table, td, tr {
    vertical-align: middle;
}

.solve p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.math {
    font-family: Cambria Math;
}

.circle {
    border-radius: 100%;
    padding: 0 5px;
}

.matrix {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-radius: 10px;
    display: table-cell;
}

.matrix-cell {
    display: table-cell;
    min-width: 50px;
    padding: 2px 0;
    text-align: center;
    border-radius: 100%;
    position: relative;
}

.removed-row:after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50%;
    margin-top: calc(25% - 4px);
    border-top: 2px solid #ffaa44;
}

.removed-column:before {
    content: '';
    position: absolute;
    left:  50%;
    right: 50%;
    width: 100%;
    height: 100%;
    margin-top: -2px;
    border-left: 2px solid #ffaa44;
}

.system {
    border-left: 2px solid #000;
    border-radius: 10px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 20px;
}

.system-cell {
    display: table-row;
    min-width: 50px;
    padding: 2px 0;
    text-align: left;
    border-radius: 100%;
    position: relative;
}

.fraction {
    display: inline-block;
    font-size: 75%;
    margin: 0 1px;
    text-align: center;
    vertical-align: middle;
}

.fraction .numerator {
    vertical-align: top;
    border-bottom: 2px solid;
}

.fraction .denumerator {
    vertical-align: bottom;
}
